<% include partials/header %>

<div class="ui two column stackable centered grid container">
    <div class="column">
        <div class="ui basic segment">
            <div class="ui huge centered header">
                <h1>When did President Trump last tweet something?</h1>
            </div>
        </div>
    </div>
</div>
<div class="ui two column stackable centered grid container">
    <div class="ten wide column">
        <div class="ui raised segment">
            <div class="ui items">
                <div class="item">
                    <div class="image">
                        <img src="<%= trumpImg %>">
                    </div>
                    <div class="content">
                        <a class="header"><%= timeSince1 %></a>
                            <div class="meta">
                                <span>Trump tweeted:</span>
                            </div>
                        <div class="description">
                            <p id="first-tweet"><%= tweet1 %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui two column stackable centered grid container">
    <div class="column">
        <div class="ui raised segment">
            <div class="ui divided items">
                <div class="item">
                    <div class="middle aligned content">
                        <a class="header"><%= timeSince2 %></a>
                            <div class="meta">
                                <span>Trump tweeted:</span>
                            </div>
                        <div class="description">
                            <p><%= tweet2 %></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class=" middle aligned content">
                        <a class="header"><%= timeSince3 %></a>
                            <div class="meta">
                                <span>Trump tweeted:</span>
                            </div>
                        <div class="description">
                            <p><%= tweet3 %></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned content">
                        <a class="header"><%= timeSince4 %></a>
                            <div class="meta">
                                <span>Trump tweeted:</span>
                            </div>
                        <div class="description">
                            <p><%= tweet4 %></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned content">
                        <a class="header"><%= timeSince5 %></a>
                            <div class="meta">
                                <span>Trump tweeted:</span>
                            </div>
                        <div class="description">
                            <p><%= tweet5 %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>